.hero{
    width: 100%;
    height: 90vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
}
.hero > .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .info-text{
    max-width: 450px;
    font-size: 36px;
    font-weight: 400;
    color: white;
}

.hero svg{
    width: 550px;
}


/* POST SECTION */
.post-section{
    padding: 30px 0;
}
.post-wrap{
    display: flex;
    gap: 20px;
}

.post-img{
    width:300px;
    height: 400px;
    background-color: var(--light-grey);
}

.post-title{
    font-size: 32px;
    font-weight: 600;
}

.post-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

.post-excerpt{
    margin-top: 30px;
}

.post-text{
    max-width: 700px;
}

.post-link{
    max-width: 130px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.post-link:hover{
    background-color: var(--light-blue);
}