/* POST SECTION */

html body header{
    position: relative;
}

.post-section{
    margin: 30px 0;
}

.post-section .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.post-section .post-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 250px;
    gap: 40px;
}

.post-section .post-wrap .post-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.post-section .post-img img{
    min-width: 100%;
    min-height: 100%;
}
.post-section .post-info{
    max-width: 90%;
}
.post-section .post-wrap a{
    text-transform: none;
    color: var(--blue);
    font-size: 32px;
    margin-bottom: 12px;
}

.post-section .post-wrap a:hover{
    color: var(--light-blue);
}

.post-section .post-wrap .post-excerpt{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    margin: 10px 0;
}

.post-section .post-wrap:hover .post-title::after{
    left: 0;
}

.others{
    background-color: var(--darker);
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .post-section .post-wrap{
        max-width: auto;
        flex-grow: 1;
    }
}

@media screen and (min-width: 775px){
    .post-section .post-wrap{
        max-width: auto;
        flex-grow: 1;
        flex-basis: 300px;
    }
}